body{
    margin: auto !important;
    padding: auto !important;
    /* background-color: red; */
}
.btn1{
    margin-right: 20px !important;
    /* margin-bottom: 20px !important; */
}

.holder1{
    text-align: center !important;
}

.image1{
    text-align: center !important;
    justify-content: center !important;
}

.setsome{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    transition: 0.3s;
}
.head1{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.head2{
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.container_nav{
    max-width: auto;
}

.grid { 
display: grid;
grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
grid-gap: 30px;
transition: 0.3s;
align-items: stretch;
margin-left: 10px;
margin-right: 10px;
}

.grid > article {
border: 1px solid #ccc;
/* transition: 3.3s; */
box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
/* margin-left: 20px; */
/* margin-right: 20px; */
}
.grid > article img {
max-width: 100%;
transition: 0.3s;
}

.text{
text-align: center;
}

.mid_head{
text-align: center;
}

.mid_head p{
text-align: center;
color: red;
font-size: 30px;
}

.text button{
    margin-bottom: 20px;
}

.mid_head_cus{
    text-align: center;
}

.mid_head_cus p{
    text-align: center;
    color: red;
    font-size: 30px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 40px;
}
    
.review{
    justify-content: center;
    margin-left: 20px;
}

  
.heading {
font-size: 25px;
margin-right: 25px;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.checked {
color: orange;
}

/* Three column layout */
.side {
float: left;
width: 15%;
margin-top:10px;
}

.middle {
margin-top:10px;
float: left;
width: 70%;
}

/* Place text to the right */
.right {
text-align: right;
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

/* The bar container */
.bar-container {
width: 100%;
background-color: #f1f1f1;
text-align: center;
color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

  .cards_review{
    margin-left: 60px;
    margin-right: 60px;
  }

.footers{
    margin-top: 100px;
}



